# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [73]:
import pandas as pd
import re

In [74]:
df1= pd.read_csv("recweekdata.csv")

In [75]:
df1.loc[:,"phonenumber"].replace("^9","+63 9",regex=True, inplace=True)

In [76]:
df= pd.read_csv("studentprofiles.csv")

In [77]:
df

     firstname      lastname  gender
0        name1     lastname1  Female
1        name2     lastname2  Female
2        name3     lastname3  Female
3        name4     lastname4    Male
4        name5     lastname5  Female
5        name6     lastname6  Female
6        name7     lastname7  Female
7        name8     lastname8    Male
8        name9     lastname9    Male
9       name10    lastname10  Female
10      name11    lastname11    Male
11      name12    lastname12    Male
12      name13    lastname13  Female
13      name14    lastname14  Female
14      name15    lastname15    Male
15      name16    lastname16    Male
16      name17    lastname17  Female
17      name18    lastname18  Female
18      name19    lastname19    Male
19      name20    lastname20    Male
20      name21    lastname21  Female
21      name22    lastname22    Male
22      name23    lastname23    Male
23      name24    lastname24    Male
24      name25    lastname25    Male
25      name26    lastname26    Male
26      name27    lastname27  Female
27      name28    lastname28    Male
28      name29    lastname29  Female
29      name30    lastname30    Male
...        ...           ...     ...
2970  name2971  lastname2971  Female
2971  name2972  lastname2972    Male
2972  name2973  lastname2973  Female
2973  name2974  lastname2974  Female
2974  name2975  lastname2975  Female
2975  name2976  lastname2976  Female
2976  name2977  lastname2977  Female
2977  name2978  lastname2978  Female
2978  name2979  lastname2979    Male
2979  name2980  lastname2980    Male
2980  name2981  lastname2981  Female
2981  name2982  lastname2982    Male
2982  name2983  lastname2983    Male
2983  name2984  lastname2984    Male
2984  name2985  lastname2985  Female
2985  name2986  lastname2986  Female
2986  name2987  lastname2987  Female
2987  name2988  lastname2988  Female
2988  name2989  lastname2989    Male
2989  name2990  lastname2990  Female
2990  name2991  lastname2991  Female
2991  name2992  lastname2992    Male
2992  name2993  lastname2993  Female
2993  name2994  lastname2994    Male
2994  name2995  lastname2995    Male
2995  name2996  lastname2996  Female
2996  name2997  lastname2997    Male
2997  name2998  lastname2998  Female
2998  name2999  lastname2999    Male
2999  name3000  lastname3000    Male

[3000 rows x 3 columns]

In [78]:
df1.loc[:,"birthmonth"].replace("^January", "1", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^February", "2", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^March", "3", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^April", "4", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^May", "5", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^June", "6", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^July", "7", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^August", "8", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^September", "9", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^October", "10", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^November", "11", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^December", "12", regex = True, inplace = True)

In [79]:
df1.loc[:,"birthmonth"].replace("^Jan", "1", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Feb", "2", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Mar", "3", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Apr", "4", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^May", "5", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Jun", "6", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Jul", "7", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Aug", "8", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Sept", "9", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Sep", "9", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Oct", "10", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Nov", "11", regex = True, inplace = True)
df1.loc[:,"birthmonth"].replace("^Dec", "12", regex = True, inplace = True)

In [80]:
df1.loc[:,"course"].replace("^BS ME", "Management Engineering", regex = True, inplace = True)
df1.loc[:,"course"].replace("^BS LM", "Legal Management", regex = True, inplace = True)
df1.loc[:,"course"].replace("^BS MGT", "Management", regex = True, inplace = True)
df1.loc[:,"course"].replace("^BS CTM", "Communications Technology", regex = True, inplace = True)
df1.loc[:,"course"].replace("^BS ITE", "Information Technology Entrepreneurship", regex = True, inplace = True)

In [81]:
df1.loc[:,"course"].replace("^ME", "Management Engineering", regex = True, inplace = True)
df1.loc[:,"course"].replace("^LM", "Legal Management", regex = True, inplace = True)
df1.loc[:,"course"].replace("^MGT", "Management", regex = True, inplace = True)
df1.loc[:,"course"].replace("^CTM", "Communications Technology", regex = True, inplace = True)
df1.loc[:,"course"].replace("^ITE", "Information Technology Entrepreneurship", regex = True, inplace = True)

In [82]:
df1.loc[:,"birthyear"] = df1.loc[:,"birthyear"].astype(str).replace("^97","1997", regex = True)
df1.loc[:,"birthyear"] = df1.loc[:,"birthyear"].astype(str).replace("^98","1998", regex = True)
df1.loc[:,"birthyear"] = df1.loc[:,"birthyear"].astype(str).replace("^99","1999", regex = True)
df1.loc[:,"birthyear"] = df1.loc[:,"birthyear"].astype(str).replace("^00","2000", regex = True)
df1.loc[:,"birthyear"] = df1.loc[:,"birthyear"].astype(str).replace("^01","2001", regex = True)

In [83]:
carrier = {"+63 917":"Globe","+63 918":"Smart", "+63 927":"Globe"}

In [84]:
df1.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])

0       Smart
1       Globe
2       Smart
3       Smart
4       Globe
5       Smart
6       Globe
7       Globe
8       Smart
9       Smart
10      Globe
11      Globe
12      Globe
13      Globe
14      Globe
15      Smart
16      Globe
17      Globe
18      Globe
19      Globe
20      Globe
21      Globe
22      Globe
23      Globe
24      Smart
25      Globe
26      Globe
27      Globe
28      Globe
29      Globe
        ...
2970    Smart
2971    Globe
2972    Globe
2973    Globe
2974    Globe
2975    Globe
2976    Smart
2977    Smart
2978    Smart
2979    Smart
2980    Globe
2981    Globe
2982    Smart
2983    Globe
2984    Globe
2985    Globe
2986    Smart
2987    Globe
2988    Globe
2989    Globe
2990    Smart
2991    Globe
2992    Globe
2993    Globe
2994    Globe
2995    Globe
2996    Globe
2997    Globe
2998    Globe
2999    Smart
Name: phonenumber, Length: 3000, dtype: object

In [85]:
df1["carrier"] = df1.loc[:,"phonenumber"].str[0:7].apply(lambda x: carrier[x])

In [86]:
df1

,firstname,lastname,birthmonth,birthday,birthyear,course,phonenumber,carrier
0,name1,lastname1,11,26,1998,Legal Management,+63 918 302 6210,Smart
1,name2,lastname2,5,26,2001,Management,+63 927 212 6276,Globe
2,name3,lastname3,5,16,1997,Communications Technology,+63 918 253 7017,Smart
3,name4,lastname4,12,9,1997,Information Technology Entrepreneurship,+63 918 714 4360,Smart
4,name5,lastname5,9,5,1997,Communications Technology,+63 927 462 1674,Globe
5,name6,lastname6,3,2,1999,Management,+63 918 629 5268,Smart
6,name7,lastname7,11,10,1998,Legal Management,+63 917 369 7388,Globe
7,name8,lastname8,8,28,1999,Management Engineering,+63 917 240 6000,Globe
8,name9,lastname9,7,10,1997,Management Engineering,+63 918 226 5748,Smart
9,name10,lastname10,9,14,2001,Communications Technology,+63 918 342 1717,Smart
10,name11,lastname11,12,8,1998,Legal Management,+63 927 708 1308,Globe
11,name12,lastname12,5,4,1997,Management Engineering,+63 927 747 5497,Globe
12,name13,lastname13,1,28,1999,Communications Technology,+63 917 959 4490,Globe
13,name14,lastname14,1,11,1999,Management,+63 927 543 4192,Globe
14,name15,lastname15,6,6,1998,Information Technology Entrepreneurship,+63 917 211 9497,Globe
15,name16,lastname16,4,20,1999,Legal Management,+63 918 185 5162,Smart
16,name17,lastname17,1,3,1997,Information Technology Entrepreneurship,+63 927 146 8146,Globe
17,name18,lastname18,4,8,1997,Management,+63 927 516 4280,Globe
18,name19,lastname19,12,28,1997,Information Technology Entrepreneurship,+63 927 958 6909,Globe
19,name20,lastname20,3,10,1997,Management Engineering,+63 917 514 9105,Globe
20,name21,lastname21,7,13,1999,Legal Management,+63 927 984 7499,Globe
21,name22,lastname22,9,15,1999,Information Technology Entrepreneurship,+63 927 699 3694,Globe
22,name23,lastname23,4,15,1997,Management,+63 917 317 2478,Globe
23,name24,lastname24,10,1,1997,Management Engineering,+63 917 159 3829,Globe
24,name25,lastname25,5,6,1997,Management Engineering,+63 918 898 6972,Smart
25,name26,lastname26,12,5,1999,Management Engineering,+63 917 796 4622,Globe
26,name27,lastname27,3,4,1997,Communications Technology,+63 927 138 7580,Globe
27,name28,lastname28,11,10,2000,Legal Management,+63 917 195 9244,Globe
28,name29,lastname29,10,10,1999,Legal Management,+63 917 643 3996,Globe
29,name30,lastname30,5,28,1999,Communications Technology,+63 917 758 3119,Globe
...,...,...,...,...,...,...,...,...
2970,name2971,lastname2971,2,25,1997,Management,+63 918 679 7197,Smart
2971,name2972,lastname2972,5,14,1998,Management Engineering,+63 917 580 7169,Globe
2972,name2973,lastname2973,10,9,1999,Legal Management,+63 917 796 6903,Globe
2973,name2974,lastname2974,8,12,1999,Information Technology Entrepreneurship,+63 917 850 3525,Globe
2974,name2975,lastname2975,11,18,1997,Legal Management,+63 927 570 1807,Globe
2975,name2976,lastname2976,7,24,1998,Information Technology Entrepreneurship,+63 927 942 3786,Globe
2976,name2977,lastname2977,5,26,1998,Management Engineering,+63 918 658 9148,Smart
2977,name2978,lastname2978,10,26,1999,Information Technology Entrepreneurship,+63 918 153 2402,Smart
2978,name2979,lastname2979,2,13,1997,Communications Technology,+63 918 360 5113,Smart
2979,name2980,lastname2980,7,3,1999,Legal Management,+63 918 634 6229,Smart
2980,name2981,lastname2981,2,17,1998,Information Technology Entrepreneurship,+63 927 393 1660,Globe
2981,name2982,lastname2982,3,28,2000,Information Technology Entrepreneurship,+63 927 642 3573,Globe
2982,name2983,lastname2983,12,3,1998,Communications Technology,+63 918 106 5583,Smart
2983,name2984,lastname2984,11,13,2000,Management,+63 917 612 2550,Globe
2984,name2985,lastname2985,2,23,1999,Management,+63 927 108 3318,Globe
2985,name2986,lastname2986,3,2,1999,Information Technology Entrepreneurship,+63 927 622 4725,Globe
2986,name2987,lastname2987,10,6,1997,Information Technology Entrepreneurship,+63 918 289 5164,Smart
2987,name2988,lastname2988,2,20,1997,Management,+63 927 984 2369,Globe
2988,name2989,lastname2989,1,17,1999,Management Engineering,+63 927 909 9560,Globe
2989,name2990,lastname2990,7,14,1997,Management,+63 927 350 9410,Globe
2990,name2991,lastname2991,7,27,2000,Information Technology Entrepreneurship,+63 918 952 6706,Smart
2991,name2992,lastname2992,3,26,1999,Information Technology Entrepreneurship,+63 917 926 9403,Globe
2992,name2993,lastname2993,4,1,2000,Management Engineering,+63 917 313 8195,Globe
2993,name2994,lastname2994,4,10,1999,Communications Technology,+63 917 784 1180,Globe
2994,name2995,lastname2995,5,21,1997,Communications Technology,+63 927 827 5389,Globe
2995,name2996,lastname2996,3,28,1997,Communications Technology,+63 917 795 5051,Globe
2996,name2997,lastname2997,5,19,1998,Legal Management,+63 917 445 3378,Globe
2997,name2998,lastname2998,7,3,1998,Information Technology Entrepreneurship,+63 917 154 5694,Globe
2998,name2999,lastname2999,12,2,1998,Management Engineering,+63 927 497 8977,Globe
2999,name3000,lastname3000,7,13,1997,Legal Management,+63 918 719 7624,Smart

In [87]:
df1.to_csv("cleandataframe.csv")

In [88]:
cleandataframe = pd.read_csv("cleandataframe.csv")

In [89]:
pd.merge(df1, df, how="left",left_on=["firstname","lastname"], right_on=["firstname","lastname"])

,firstname,lastname,birthmonth,birthday,birthyear,course,phonenumber,carrier,gender
0,name1,lastname1,11,26,1998,Legal Management,+63 918 302 6210,Smart,Female
1,name2,lastname2,5,26,2001,Management,+63 927 212 6276,Globe,Female
2,name3,lastname3,5,16,1997,Communications Technology,+63 918 253 7017,Smart,Female
3,name4,lastname4,12,9,1997,Information Technology Entrepreneurship,+63 918 714 4360,Smart,Male
4,name5,lastname5,9,5,1997,Communications Technology,+63 927 462 1674,Globe,Female
5,name6,lastname6,3,2,1999,Management,+63 918 629 5268,Smart,Female
6,name7,lastname7,11,10,1998,Legal Management,+63 917 369 7388,Globe,Female
7,name8,lastname8,8,28,1999,Management Engineering,+63 917 240 6000,Globe,Male
8,name9,lastname9,7,10,1997,Management Engineering,+63 918 226 5748,Smart,Male
9,name10,lastname10,9,14,2001,Communications Technology,+63 918 342 1717,Smart,Female
10,name11,lastname11,12,8,1998,Legal Management,+63 927 708 1308,Globe,Male
11,name12,lastname12,5,4,1997,Management Engineering,+63 927 747 5497,Globe,Male
12,name13,lastname13,1,28,1999,Communications Technology,+63 917 959 4490,Globe,Female
13,name14,lastname14,1,11,1999,Management,+63 927 543 4192,Globe,Female
14,name15,lastname15,6,6,1998,Information Technology Entrepreneurship,+63 917 211 9497,Globe,Male
15,name16,lastname16,4,20,1999,Legal Management,+63 918 185 5162,Smart,Male
16,name17,lastname17,1,3,1997,Information Technology Entrepreneurship,+63 927 146 8146,Globe,Female
17,name18,lastname18,4,8,1997,Management,+63 927 516 4280,Globe,Female
18,name19,lastname19,12,28,1997,Information Technology Entrepreneurship,+63 927 958 6909,Globe,Male
19,name20,lastname20,3,10,1997,Management Engineering,+63 917 514 9105,Globe,Male
20,name21,lastname21,7,13,1999,Legal Management,+63 927 984 7499,Globe,Female
21,name22,lastname22,9,15,1999,Information Technology Entrepreneurship,+63 927 699 3694,Globe,Male
22,name23,lastname23,4,15,1997,Management,+63 917 317 2478,Globe,Male
23,name24,lastname24,10,1,1997,Management Engineering,+63 917 159 3829,Globe,Male
24,name25,lastname25,5,6,1997,Management Engineering,+63 918 898 6972,Smart,Male
25,name26,lastname26,12,5,1999,Management Engineering,+63 917 796 4622,Globe,Male
26,name27,lastname27,3,4,1997,Communications Technology,+63 927 138 7580,Globe,Female
27,name28,lastname28,11,10,2000,Legal Management,+63 917 195 9244,Globe,Male
28,name29,lastname29,10,10,1999,Legal Management,+63 917 643 3996,Globe,Female
29,name30,lastname30,5,28,1999,Communications Technology,+63 917 758 3119,Globe,Male
...,...,...,...,...,...,...,...,...,...
2970,name2971,lastname2971,2,25,1997,Management,+63 918 679 7197,Smart,Female
2971,name2972,lastname2972,5,14,1998,Management Engineering,+63 917 580 7169,Globe,Male
2972,name2973,lastname2973,10,9,1999,Legal Management,+63 917 796 6903,Globe,Female
2973,name2974,lastname2974,8,12,1999,Information Technology Entrepreneurship,+63 917 850 3525,Globe,Female
2974,name2975,lastname2975,11,18,1997,Legal Management,+63 927 570 1807,Globe,Female
2975,name2976,lastname2976,7,24,1998,Information Technology Entrepreneurship,+63 927 942 3786,Globe,Female
2976,name2977,lastname2977,5,26,1998,Management Engineering,+63 918 658 9148,Smart,Female
2977,name2978,lastname2978,10,26,1999,Information Technology Entrepreneurship,+63 918 153 2402,Smart,Female
2978,name2979,lastname2979,2,13,1997,Communications Technology,+63 918 360 5113,Smart,Male
2979,name2980,lastname2980,7,3,1999,Legal Management,+63 918 634 6229,Smart,Male
2980,name2981,lastname2981,2,17,1998,Information Technology Entrepreneurship,+63 927 393 1660,Globe,Female
2981,name2982,lastname2982,3,28,2000,Information Technology Entrepreneurship,+63 927 642 3573,Globe,Male
2982,name2983,lastname2983,12,3,1998,Communications Technology,+63 918 106 5583,Smart,Male
2983,name2984,lastname2984,11,13,2000,Management,+63 917 612 2550,Globe,Male
2984,name2985,lastname2985,2,23,1999,Management,+63 927 108 3318,Globe,Female
2985,name2986,lastname2986,3,2,1999,Information Technology Entrepreneurship,+63 927 622 4725,Globe,Female
2986,name2987,lastname2987,10,6,1997,Information Technology Entrepreneurship,+63 918 289 5164,Smart,Female
2987,name2988,lastname2988,2,20,1997,Management,+63 927 984 2369,Globe,Female
2988,name2989,lastname2989,1,17,1999,Management Engineering,+63 927 909 9560,Globe,Male
2989,name2990,lastname2990,7,14,1997,Management,+63 927 350 9410,Globe,Female
2990,name2991,lastname2991,7,27,2000,Information Technology Entrepreneurship,+63 918 952 6706,Smart,Female
2991,name2992,lastname2992,3,26,1999,Information Technology Entrepreneurship,+63 917 926 9403,Globe,Male
2992,name2993,lastname2993,4,1,2000,Management Engineering,+63 917 313 8195,Globe,Female
2993,name2994,lastname2994,4,10,1999,Communications Technology,+63 917 784 1180,Globe,Male
2994,name2995,lastname2995,5,21,1997,Communications Technology,+63 927 827 5389,Globe,Male
2995,name2996,lastname2996,3,28,1997,Communications Technology,+63 917 795 5051,Globe,Female
2996,name2997,lastname2997,5,19,1998,Legal Management,+63 917 445 3378,Globe,Male
2997,name2998,lastname2998,7,3,1998,Information Technology Entrepreneurship,+63 917 154 5694,Globe,Female
2998,name2999,lastname2999,12,2,1998,Management Engineering,+63 927 497 8977,Globe,Male
2999,name3000,lastname3000,7,13,1997,Legal Management,+63 918 719 7624,Smart,Male

In [90]:
merged_df=pd.merge(cleandataframe, df, how="left",left_on=["firstname","lastname"], right_on=["firstname","lastname"])

In [91]:
bmonth = merged_df.groupby(["lastname","birthmonth"])['firstname'].count()

In [92]:
jan = bmonth.count('birthmonth')[1]

In [93]:
feb = bmonth.count('birthmonth')[2]

In [94]:
mar = bmonth.count('birthmonth')[3]

In [95]:
apr = bmonth.count('birthmonth')[4]

In [96]:
may = bmonth.count('birthmonth')[5]

In [97]:
june = bmonth.count('birthmonth')[6]

In [98]:
july = bmonth.count('birthmonth')[7]

In [99]:
aug = bmonth.count('birthmonth')[8]

In [100]:
sept = bmonth.count('birthmonth')[9]

In [101]:
octo = bmonth.count('birthmonth')[10]

In [102]:
nov = bmonth.count('birthmonth')[11]

In [103]:
dec = bmonth.count('birthmonth')[12]

In [104]:
bday = merged_df.groupby(["lastname","birthday"])['firstname'].count()

In [105]:
day1 = bday.count('birthday')[1]

In [106]:
day2 = bday.count('birthday')[2]

In [107]:
day3 = bday.count('birthday')[3]

In [108]:
day4 = bday.count('birthday')[4]

In [109]:
day5 = bday.count('birthday')[5]

In [110]:
day6 = bday.count('birthday')[6]

In [111]:
day7 = bday.count('birthday')[7]

In [112]:
day8 = bday.count('birthday')[8]

In [113]:
day9 = bday.count('birthday')[9]

In [114]:
day10 = bday.count('birthday')[10]

In [115]:
day11 = bday.count('birthday')[11]

In [116]:
day12 = bday.count('birthday')[12]

In [117]:
day13 = bday.count('birthday')[13]

In [118]:
day14 = bday.count('birthday')[14]

In [119]:
day15 = bday.count('birthday')[15]

In [120]:
day16 = bday.count('birthday')[16]

In [121]:
day17 = bday.count('birthday')[17]

In [122]:
day18 = bday.count('birthday')[18]

In [123]:
day19 = bday.count('birthday')[19]

In [124]:
day20 = bday.count('birthday')[20]

In [125]:
day21 = bday.count('birthday')[21]

In [126]:
day22 = bday.count('birthday')[22]

In [127]:
day23 = bday.count('birthday')[23]

In [128]:
day24 = bday.count('birthday')[24]

In [129]:
day25 = bday.count('birthday')[25]

In [130]:
day26 = bday.count('birthday')[26]

In [131]:
day27 = bday.count('birthday')[27]

In [132]:
day28 = bday.count('birthday')[28]

In [133]:
byear = merged_df.groupby(["lastname","birthyear"])['firstname'].count()

In [134]:
byear97 = byear.count('birthyear')[1997]

In [135]:
byear98 = byear.count('birthyear')[1998]

In [136]:
byear99 = byear.count('birthyear')[1999]

In [137]:
byear00 = byear.count('birthyear')[2000]

In [138]:
byear01 = byear.count('birthyear')[2001]

In [139]:
cour = merged_df.groupby(["lastname","course"])['firstname'].count()

In [140]:
ctm = cour.count('course')["Communications Technology"]

In [141]:
ite = cour.count('course')["Information Technology Entrepreneurship"]

In [142]:
lm = cour.count('course')["Legal Management"]

In [143]:
mgt = cour.count('course')["Management"]

In [144]:
me = cour.count('course')["Management Engineering"]

In [149]:
car = merged_df.groupby(["gender","carrier"])['phonenumber'].count()

In [150]:
globe = car.count('carrier')["Globe"]

In [151]:
smart = car.count('carrier')["Smart"]

In [152]:
gencar = merged_df.groupby(["gender","carrier"])['firstname'].count()

In [153]:
globe_male = gencar[('Male','Globe')]

In [154]:
globe_female = gencar[('Female','Globe')]

In [155]:
smart_male = gencar[('Male','Smart')]

In [156]:
smart_female = gencar[('Female','Smart')]

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [158]:
from IPython.core.display import HTML

html = """
<h1>Summary Statistics</h1>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><strong>People born in each month</strong></div>
<div class="divTableCell"><br />
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">January</div>
<div class="divTableHead">February</div>
<div class="divTableHead">March</div>
<div class="divTableHead">April</div>
<div class="divTableHead">May</div>
<div class="divTableHead">June</div>
<div class="divTableHead">July</div>
<div class="divTableHead">August</div>
<div class="divTableHead">September</div>
<div class="divTableHead">October</div>
<div class="divTableHead">November</div>
<div class="divTableHead">December</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{jan}</div>
<div class="divTableCell">{feb}</div>
<div class="divTableCell">{mar}</div>
<div class="divTableCell">{apr}</div>
<div class="divTableCell">{may}</div>
<div class="divTableCell">{june}</div>
<div class="divTableCell">{july}</div>
<div class="divTableCell">{aug}</div>
<div class="divTableCell">{sept}</div>
<div class="divTableCell">{octo}</div>
<div class="divTableCell">{nov}</div>
<div class="divTableCell">{dec}</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People born on each day</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">1</div>
<div class="divTableHead">2</div>
<div class="divTableHead">3</div>
<div class="divTableHead">4</div>
<div class="divTableHead">5</div>
<div class="divTableHead">6</div>
<div class="divTableHead">7</div>
<div class="divTableHead">8</div>
<div class="divTableHead">9</div>
<div class="divTableHead">10</div>
<div class="divTableHead">11</div>
<div class="divTableHead">12</div>
<div class="divTableHead">13</div>
<div class="divTableHead">14</div>
<div class="divTableHead">15</div>
<div class="divTableHead">16</div>
<div class="divTableHead">17</div>
<div class="divTableHead">18</div>
<div class="divTableHead">19</div>
<div class="divTableHead">20</div>
<div class="divTableHead">21</div>
<div class="divTableHead">22</div>
<div class="divTableHead">23</div>
<div class="divTableHead">24</div>
<div class="divTableHead">25</div>
<div class="divTableHead">26</div>
<div class="divTableHead">27</div>
<div class="divTableHead">28</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{day1}</div>
<div class="divTableCell">{day2}</div>
<div class="divTableCell">{day3}</div>
<div class="divTableCell">{day4}</div>
<div class="divTableCell">{day5}</div>
<div class="divTableCell">{day6}</div>
<div class="divTableCell">{day7}</div>
<div class="divTableCell">{day8}</div>
<div class="divTableCell">{day9}</div>
<div class="divTableCell">{day10}</div>
<div class="divTableCell">{day11}</div>
<div class="divTableCell">{day12}</div>
<div class="divTableCell">{day13}</div>
<div class="divTableCell">{day14}</div>
<div class="divTableCell">{day15}</div>
<div class="divTableCell">{day16}</div>
<div class="divTableCell">{day17}</div>
<div class="divTableCell">{day18}</div>
<div class="divTableCell">{day19}</div>
<div class="divTableCell">{day20}</div>
<div class="divTableCell">{day21}</div>
<div class="divTableCell">{day22}</div>
<div class="divTableCell">{day23}</div>
<div class="divTableCell">{day24}</div>
<div class="divTableCell">{day25}</div>
<div class="divTableCell">{day26}</div>
<div class="divTableCell">{day27}</div>
<div class="divTableCell">{day28}</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People born in each year</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">1997</div>
<div class="divTableHead">1998</div>
<div class="divTableHead">1999</div>
<div class="divTableHead">2000</div>
<div class="divTableHead">2001</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{byear97}</div>
<div class="divTableCell">{byear98}</div>
<div class="divTableCell">{byear99}</div>
<div class="divTableCell">{byear00}</div>
<div class="divTableCell">{byear01}</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People coming from each course</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">BS Communications Technology Management</div>
<div class="divTableHead">BS Information Technology Entrepreneurship</div>
<div class="divTableHead">BS Legal Management</div>
<div class="divTableHead">BS Management</div>
<div class="divTableHead">BS Management Engineering</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{ctm}</div>
<div class="divTableCell">{ite}</div>
<div class="divTableCell">{lm}</div>
<div class="divTableCell">{mgt}</div>
<div class="divTableCell">{me}</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People having numbers from Globe and Smart</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">Globe Users</div>
<div class="divTableHead">Smart Users</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{globe}</div>
<div class="divTableCell">{smart}</div>
</div>
</div>
</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People having numbers from Globe</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">Male Globe Users</div>
<div class="divTableHead">Female Globe Users</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{globe_male}</div>
<div class="divTableCell">{globe_female}</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><strong>People having numbers from Smart</strong></div>
<div class="divTableCell">
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">Male Smart Users</div>
<div class="divTableHead">Female Smart Users</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{smart_male}</div>
<div class="divTableCell">{smart_female}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
"""

html_output = html.format(jan=jan,
                          feb = feb,
                          mar = mar,  
                          apr = apr,
                          may = may, 
                          june = june,
                          july = july,
                          aug = aug,
                          sept = sept,
                          octo = octo,
                          nov = nov,
                          dec = dec,
                          day1 = day1,
                          day2 = day2,
                          day3 = day3,
                          day4 = day4,
                          day5 = day5,
                          day6 = day6,
                          day7 = day7,
                          day8 = day8,
                          day9 = day9,
                          day10 = day10,
                          day11 = day11, 
                          day12 = day12,
                          day13 = day13,
                          day14 = day14,
                          day15 = day15,
                          day16 = day16,
                          day17 = day17,
                          day18 = day18,
                          day19 = day19,
                          day20 = day20,
                          day21 = day21, 
                          day22 = day22, 
                          day23 = day23,
                          day24 = day24, 
                          day25 = day25,
                          day26 = day26, 
                          day27 = day27,
                          day28 = day28,
                          byear97 = byear97,
                          byear98 = byear98,
                          byear99 = byear99,
                          byear00 = byear00,
                          byear01 = byear01,
                          ctm = ctm,
                          ite = ite,
                          lm = lm,
                          mgt = mgt,
                          me = me,
                          globe = int(gencar[('Male','Globe')]) + int(gencar[('Female','Globe')]),
                          smart = int(gencar[('Male','Smart')]) + int(gencar[('Female','Smart')]),
                          globe_male = globe_male,
                          globe_female = globe_female,
                          smart_male = smart_male,
                          smart_female = smart_female
                          ) 
                          
HTML(html_output)

with open('stats3b.html',"w") as file:
    file.write(html_output)